/**
 * ——————
 * grigri
 * ——————
 */
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin create-col($index: 1, $span: 12) {
  > div {
    width: 100%;
    margin-top: var(--gutters);
  }
  > div:nth-child(#{$index}) {
    width: calc(var(--col-width) * #{$span} + ( #{$span - 1} * var(--gutters) ) );
    margin-top: 0;
  }
}
@mixin create-cols($cols: (6, 6) ) { // provide a default for context -> this creates two columns each spanning 6 columns
  @for $i from 1 through length($cols) {
    $span: nth($cols, $i);
    @include create-col($i, $span);
  }
}

@mixin two-cols($one, $two, $breakpoint: false) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @include flex-between;
      @include create-cols(($one, $two));
    }
  }
  @else {
    @include flex-between;
    @include create-cols(($one, $two));
  }
}

@mixin three-cols($one, $two, $three, $breakpoint: false) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @include flex-between;
      @include create-cols(($one, $two, $three));
    }
  }
  @else {
    @include flex-between;
    @include create-cols(($one, $two, $three));
  }
}

@mixin makeGridColsForBreakpoint($string: false, $breakpoint: false) {
  @if $breakpoint {
    @for $i from 2 through 12 {
      .col-#{$string}-#{$i} {
        @media (min-width: $breakpoint) {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
  }
  @else {
    @for $i from 2 through 12 {
      .col-#{$i} { grid-template-columns: repeat($i, 1fr); }
    }
  }
}

@mixin makeGridMarginsForBreakpoint($string: false, $breakpoint: false) {
  @if $breakpoint {
    @for $i from 2 through 12 {
      .margin-#{$string}-#{$i} {
        @media (min-width: $breakpoint) {
          padding-left: calc(var(--margins) * #{$i} + var(--gutters) * #{$i - 1});
          padding-right: calc(var(--margins) * #{$i} + var(--gutters) * #{$i - 1});
        }
      }
    }
  }
  @else {
    @for $i from 2 through 12 {
      .margin-#{$i} {
        padding-left: calc(var(--margins) * #{$i} + var(--gutters) * #{$i - 1});
        padding-right: calc(var(--margins) * #{$i} + var(--gutters) * #{$i - 1});
      }
    }
  }
}
