$mq-xs: 500px;
$mq-sm: 700px;
$mq-md: 1000px;
$mq-lg: 1200px;
$mq-xl: 1440px;
$mq-xxl: 1920px;

:root {
  --margins: 1rem;
  --gutters: 0.25rem;
  --spacing: 3.5rem;
  --max-width: 1200px;
  --narrow-width: 800px;
  --wide-width: 1680px;
  --multiplier: 3;
  --col-width: calc( (100% - (var(--gutters) * 11) ) / 12);
  --helper-cols-color: white;
  --helper-lines-color: magenta;
  --helper-spacing-color: orangered;
  --helper-margin-color: lime;
  --helper-opacity: 0.5;

  @media (min-width: $mq-sm) {
    --margins: 2rem;
    --gutters: 1rem;
  }

  @media (min-width: $mq-xl) {
    --margins: 4rem;
    --gutters: 1.5rem;
  }
}

@include makeGridColsForBreakpoint(none);
@include makeGridColsForBreakpoint(xs, $mq-xs);
@include makeGridColsForBreakpoint(sm, $mq-sm);
@include makeGridColsForBreakpoint(md, $mq-md);
@include makeGridColsForBreakpoint(lg, $mq-lg);
@include makeGridColsForBreakpoint(xl, $mq-xl);
@include makeGridColsForBreakpoint(xxl, $mq-xxl);

@include makeGridMarginsForBreakpoint(none);
@include makeGridMarginsForBreakpoint(xs, $mq-xs);
@include makeGridMarginsForBreakpoint(sm, $mq-sm);
@include makeGridMarginsForBreakpoint(md, $mq-md);
@include makeGridMarginsForBreakpoint(lg, $mq-lg);
@include makeGridMarginsForBreakpoint(xl, $mq-xl);
@include makeGridMarginsForBreakpoint(xxl, $mq-xxl);

.grid {
  display: grid;
  grid-gap: var(--gutters);
}

.no-gutters {
  grid-gap: 0;
}

.full-height {
  height: 100%; // TODO not sure about this one
}

.container-full {
  width: 100%;
}

.container {
  max-width: var(--max-width);
  padding-left: var(--margins);
  padding-right: var(--margins);

  &.flush {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-wide {
  max-width: var(--wide-width);
  padding-left: var(--margins);
  padding-right: var(--margins);

  &.flush {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-narrow {
  max-width: var(--narrow-width);
  padding-left: var(--margins);
  padding-right: var(--margins);

  &.flush {
    padding-left: 0;
    padding-right: 0;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.spaced {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
