@mixin no-user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: var(--color-body);

  * {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

@mixin no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
